* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  /* border: 2px solid blue; */
  height: 60px;
  width: 100%;
  margin-bottom: 5px;
}

.inner-text {
  margin-top: 10px;
  /* border: 2px solid red; */
  width: 100%;
  height: 12vh;
  background-color: rgb(190, 189, 189);
}

.inner-text h2 {
  text-align: center;
  padding: 20px;
  font-size: 40px;
  font-family: 'Charm', cursive;
}

.container {
  width: 100%;
  height: 92vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container ul {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.container ul li {
  list-style: none;
  cursor: pointer;
  margin: 10px;
}

.container ul li video {
  width: 200px;
  transition: all 0.3s;
  border-radius: 20px;
  border: 2px solid white;
}

.container ul li video:hover {
  transform: scale(1.1);
}

video {
  width: 100%;
  height: 100%;
}


/* image and content area */

.section2 {
  /* border: 4px solid salmon; */
  margin-bottom: 10px;
}

.left {
  margin: 28px;
  /* border: 2px solid yellowgreen; */
  width: 60%;
  height: 50vh;
  font-size: 19px;
}

.sectwo-slider {
  margin: 28px;
  /* border: 2px solid yellow; */
  width: 60%;
  height: 50vh;
}

.section3 {
  /* border: 4px solid rgb(214, 32, 12); */
  margin-bottom: 10px;
}

.right {
  margin: 28px;
  /* border: 2px solid yellowgreen; */
  width: 60%;
  height: 50vh;
  font-size: 19px;
}

.secthree-slider {
  margin: 28px;
  /* border: 2px solid yellow; */
  width: 60%;
  height: 50vh;
}

.section4 {
  /* border: 4px solid rgb(240, 108, 200); */
  margin-bottom: 10px;
}

.right {
  margin: 28px;
  /* border: 2px solid yellowgreen; */
  width: 60%;
  height: 50vh;
  font-size: 19px;
}

.secfour-slider {
  margin: 28px;
  /* border: 2px solid yellow; */
  width: 60%;
  height: 50vh;
}

.lookig-for-event-photos {
  /* border: 2px solid gold; */
  width: 100%;
  height: 15vh;
}

.lookig-for-event-photos {
  background: gray;
  text-align: center;
  padding: 20px;
  font-size: 40px;
  font-family: 'Charm', cursive;
  list-style: none;
}

.lookig-for-event-photos ul li {
  display: inline-flex;
}

.lookig-for-event-photos ul :nth-last-child(1) .btn {
  /* display: inline-flex; */
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  /* background-color: blue; */
  background-color: rgb(236, 137, 7);
  margin: 10px;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
}

.lookig-for-event-photos ul :nth-last-child(1) .btn:hover {
  /* background-color: rgb(131, 131, 248); */
  background-color: rgb(248, 143, 6);
}

.lookig-for-event-photos ul :nth-last-child(1) a {
  text-decoration: none;
  color: white;
}

.card-1-layout {
  margin-top: 2px;
  /* background-color: rgb(0, 96, 147); */
  background-color: rgb(236, 137, 7);
  font-family: 'Charm', cursive;
}

.container-card {
  width: 90%;
  margin: 50px auto;
}

.heading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

@media screen and (max-width:1000px) {
  .card {
      width: 40%;
  }
}

@media screen and (max-width:620px) {
  .container-card {
      width: 100%;
  }
  .heading {
      padding: 20px;
      font-size: 30px;
  }
  .card {
      width: 40%;
  }
}

.card {
  width: 20%;
  background-color: white;
  border: 01px solid grey;
  margin-bottom: 50px;
  transition: 0.3s;
}

.card-header {
  text-align: center;
  padding: 50px 10px;
  /* background: rgb(0, 96, 147); */
  background-color: rgb(236, 137, 7);
  color: white;
}

.card-body {
  padding: 30px 20px;
  text-align: center;
  font-size: 18px;
}

.card-body .btn {
  display: block;
  color: white;
  text-align: center;
  /* background: rgb(0, 96, 147); */
  background-color: rgb(236, 137, 7);
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
}

.card:hover {
  transform: scale(1.05);
  /* box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0); */
  /* box-shadow: -10px 0px 29px 13px #FFFCF7;   */
  box-shadow: 0px 0px 20px -2px #FCFCFC
}

.hero {
  width: 100%;
  height: 100%;
  /* background: rgb(0, 96, 147); */
  background-color: rgb(236, 137, 7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero h2 {
  font-style: italic;
  font-size: 30px;
  position: relative;
  margin-bottom: 80px;
}

.hero>h2::after {
  content: "";
  width: 150px;
  height: 3px;
  background: linear-gradient(to right, #f44336, #9f4db5);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.review-box {
  width: 90%;
  max-width: 700px;
  height: 300px;
  border-radius: 15px;
  box-shadow: -10px 10px 40px rgba(245, 241, 241, 0.25);
  position: relative;
  overflow: hidden;
}

.card-review {
  height: 300px;
  padding: 40px;
  color: rgb(15, 15, 15);
  line-height: 22px;
  box-sizing: border-box;
  background: #fff;
  position: relative;
  z-index: 1;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.profile img {
  width: 70px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile h3 {
  font-size: 26px;
  color: #f44336;
  margin-bottom: 8px;
}

#slide {
  width: 100%;
  padding-right: 60px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.slidebar {
  width: 60px;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
  background: #9f4db5;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.slidebar img {
  size: 20px;
  width: 25px;
  padding: 5px;
  background: rgb(236, 112, 112);
  border-radius: 50%;
  cursor: pointer;
}

.card-review::before {
  content: '';
  width: 110px;
  height: 110px;
  border-bottom-right-radius: 100%;
  background: #9f4db5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

::selection {
  background: #f44336;
  color: #f1eeee;
}

.association ul li {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 58px;
}


/* footer css */



.mainContent{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  font-size: 40px;
  color: grey;
}
footer{
  width: 100%;
  background-color: #c8cfe6;
}
.sectio-1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 10px;
}
.sectio-1 h2 {
  font-size: 18px;
  color: white;
  text-transform: uppercase;
}
.about{
  width: 40%;
}
.about h2{
  font-size: 24px;
  color: lightgray;
  text-transform: uppercase;
}
.about p{
  text-align: justify;
  color: grey;
  line-height: 24px;
  margin-top: 10px;
}
.link1 h2{
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.link1 ul{
  list-style: none;
}
.link1 ul li{
  padding: 5px;
}
a{
  text-decoration: none;
  color: grey;
}
a:hover{
  color: orange;
}
span{
  color: grey;
}
i{
  color: grey;
  font-size: 20px;
}
.sectio-2{
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center;
}
.sectio-2 p{
  color: gray;
  font-size: 24px;
  padding: 0;
   
}
.sectio-2 a{
  display: inline-flex;
  padding: 10px 15px;
  color: white;
  background-color: red;
  margin-left: 10px;
  border-radius: 20px;
  font-size: 22px;
}
.sectio-2 a:hover{
  background-color: orange;
}
.sectio-3{
  display: flex;
  justify-content: center;
  padding: 20px;

}
.sectio-3 ul{
  list-style: none;
  margin: 20px;
}
.sectio-3 ul li{
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 20px;
  background-color: #424242;
  border-radius: 50%;
  margin-right: 20px;
}
.sectio-3 ul li i{
  color: white;
  font-size: 24px;
  line-height: 20px;
  text-align: center;
}
.sectio-3 ul li:nth-child(1):hover{
  background-color: #410093 ;
}
.sectio-3 ul li:nth-child(2):hover{
  background-color: #1DA1F2 ;
}
.sectio-3 ul li:nth-child(3):hover{
  background-color: #CD201F ;
}
.sectio-3 ul li:nth-child(4):hover{
  background-color: #0A66C2 ;
}
.sectio-3 ul li:nth-child(5):hover{
  background-color: #EA4C89 ;
}
.sectio-4{
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 30px;
}
.sectio-4 p{
  color: grey;
  position: relative;
}
.sectio-4 p::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  position: absolute;
  right: 0;
  bottom: -10px;
  background-color: yellow;
  transition: all .3s;
}
.sectio-4 p:hover::after{
  width: 100%;
}
hr{
  opacity: 0.2;
}
@media (max-width:767px){
  .mainContent{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items:center;
      font-size: 40px;
      color: grey;
  }
  footer{
      width: 100%;
      background-color: #26272b;
  }
  .sectio-1{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 30px 10px;
  }
  .sectio-1 h2 {
      font-size: 18px;
      color: white;
      text-transform: uppercase;
    }
  .about{
      width: 100%;
      margin-bottom: 20px;
  }
  .about h2{
      font-size: 24px;
      color: lightgray;
      text-transform: uppercase;
  }
  .about p{
      text-align: justify;
      color: grey;
      line-height: 24px;
      margin-top: 10px;
  }
  .link1 h2{
      font-size: 18px;
      color: white;
      text-transform: uppercase;
      margin-bottom: 10px;
  }
  .link1 ul{
      list-style: none;
  }
  .link1 ul li{
      padding: 5px;
  }
  a{
      text-decoration: none;
      color: grey;
  }
  a:hover{
      color: orange;
  }
  span{
      color: grey;
  }
  i{
      color: grey;
      font-size: 20px;
  }
  .sectio-2{
      display: flex;
      justify-content: center;
      padding: 20px;
      align-items: center;
  }
  .sectio-2 p{
      color: gray;
      font-size: 24px;
      padding: 0;
       
  }
  .sectio-2 a{
      display: inline-flex;
      padding: 10px 15px;
      color: white;
      background-color: red;
      margin-left: 10px;
      border-radius: 20px;
      font-size: 22px;
  }
  .sectio-2 a:hover{
      background-color: orange;
  }
  .sectio-3{
      display: flex;
      justify-content: center;
      padding: 20px;
  
  }
  .sectio-3 ul{
      list-style: none;
      margin: 20px;
  }
  .sectio-3 ul li{
      display: inline-block;
      width: 60px;
      height: 60px;
      padding: 20px;
      background-color: #424242;
      border-radius: 50%;
      margin-right: 20px;
  }
  .sectio-3 ul li i{
      color: white;
      font-size: 24px;
      line-height: 20px;
      text-align: center;
  }
  .sectio-3 ul li:nth-child(1):hover{
      background-color: #410093 ;
  }
  .sectio-3 ul li:nth-child(2):hover{
      background-color: #1DA1F2 ;
  }
  .sectio-3 ul li:nth-child(3):hover{
      background-color: #CD201F ;
  }
  .sectio-3 ul li:nth-child(4):hover{
      background-color: #0A66C2 ;
  }
  .sectio-3 ul li:nth-child(5):hover{
      background-color: #EA4C89 ;
  }
  .sectio-4{
      display: flex;
      justify-content: center;
      background-color: black;
      padding: 30px;
  }
  .sectio-4 p{
      color: grey;
      position: relative;
  }
  .sectio-4 p::after{
      content: '';
      display: block;
      width: 0;
      height: 2px;
      position: absolute;
      right: 0;
      bottom: -10px;
      background-color: yellow;
      transition: all .3s;
  }
  .sectio-4 p:hover::after{
      width: 100%;
  }
  hr{
      opacity: 0.2;
  }
}
@media (max-width:499px){
  .mainContent{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items:center;
      font-size: 40px;
      color: grey;
  }
  footer{
      width: 100%;
      background-color: #26272b;
  }
  .sectio-1{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 30px 10px;
  }
  .sectio-1 h2 {
      font-size: 18px;
      color: white;
      text-transform: uppercase;
      margin-top: 20px;
  }
  .about{
      width: 100%;
      margin-bottom: 20px;
  }
  .about h2{
      font-size: 24px;
      color: lightgray;
      text-transform: uppercase;
  }
  .about p{
      text-align: justify;
      color: grey;
      line-height: 24px;
      margin-top: 10px;
  }
  .link1 h2{
      font-size: 18px;
      color: white;
      text-transform: uppercase;
      margin-bottom: 10px;
  }
  .link1 ul{
      list-style: none;
  }
  .link1 ul li{
      padding: 5px;
  }
  a{
      text-decoration: none;
      color: grey;
  }
  a:hover{
      color: orange;
  }
  span{
      color: grey;
  }
  i{
      color: grey;
      font-size: 20px;
  }
  .sectio-2{
      display: flex;
      justify-content: center;
      padding: 20px;
      align-items: center;
  }
  .sectio-2 p{
      color: gray;
      font-size: 24px;
      padding: 0;
       
  }
  .sectio-2 a{
      display: inline-flex;
      padding: 10px 15px;
      color: white;
      background-color: red;
      margin-left: 10px;
      border-radius: 20px;
      font-size: 22px;
  }
  .sectio-2 a:hover{
      background-color: orange;
  }
  .sectio-3{
      display: flex;
      justify-content: center;
      padding: 20px;
  
  }
  .sectio-3 ul{
      list-style: none;
      margin: 20px;
  }
  .sectio-3 ul li{
      display: inline-block;
      width: 40px;
      height: 40px;
      padding: 10px;
      background-color: #424242;
      border-radius: 50%;
      margin-right: 5px;
  }
  .sectio-3 ul li i{
      color: white;
      font-size: 24px;
      line-height: 20px;
      text-align: center;
  }
  .sectio-3 ul li:nth-child(1):hover{
      background-color: #410093 ;
  }
  .sectio-3 ul li:nth-child(2):hover{
      background-color: #1DA1F2 ;
  }
  .sectio-3 ul li:nth-child(3):hover{
      background-color: #CD201F ;
  }
  .sectio-3 ul li:nth-child(4):hover{
      background-color: #0A66C2 ;
  }
  .sectio-3 ul li:nth-child(5):hover{
      background-color: #EA4C89 ;
  }
  .sectio-4{
      display: flex;
      justify-content: center;
      background-color: black;
      padding: 30px;
  }
  .sectio-4 p{
      color: grey;
      position: relative;
  }
  .sectio-4 p::after{
      content: '';
      display: block;
      width: 0;
      height: 2px;
      position: absolute;
      right: 0;
      bottom: -10px;
      background-color: yellow;
      transition: all .3s;
  }
  .sectio-4 p:hover::after{
      width: 100%;
  }
  hr{
      opacity: 0.2;
  }
}